@charset "UTF-8";

@media screen and (min-width: 700px){
    


*:root {
    --cor1: #14231E;
    --cor2: #C98D5B;
    --cor3: #1F2620;
    --cor4: #BF7F5A;
    --cor5: #D8D8BE;
}
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@font-face {
    font-family: "titulo";
    src: url("../fontes/Bistern.otf") format("opentype");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 40px 1fr;
    background-color: var(--cor1);
}

header {
    background-color: var(--cor2);
    grid-area: 1/1/3/-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

img#logo {
    width: 150px;
    height: 150px;
}

header h1 {
    grid-area: 1/2/2/-1;
    color: white;
    font-weight: lighter;
    font-size: 3.7em;
    margin: auto;
    font-family: titulo ,Arial, Helvetica, sans-serif;}

nav {
    grid-area: 2/2/3/-1;
    align-items: flex-end;
    margin: auto;
}

nav a {
    color: #14231E;
    padding-left: 10px;
}

/* ---------------------------------- CORPO DO SITE/sobre nós ----------------------------------------------*/

main {
    display: flex;
    flex-flow: column;
    grid-area: 3/1/-1/-1;
    
}

section.identidade {
    position: relative;
    display: grid;
    justify-items: flex-start;
    margin-top: 50px;

}

img.identidade {
    width: 250px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px; 
}

section#identidade h2{
    position: absolute;
    top: 180px;
    left: 300px;
    font-size: 3em;
    color: white;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}


section#identidade p {
    margin: 20px;
    text-align: justify;
    color: white;
    line-height: 20px;
    font-size: 1.2em;

    position: absolute;
    top: 250px;
    left: 280px;
    min-width: 350px;
    max-width: 850px;
    text-decoration: underline;
}

section#local {
    position: relative;
    margin-top: 100px;
    display: grid;
    justify-items: flex-start;
}

img.local {
    width: 310px;
    border-radius: 10px;
    margin-left: 10px;
    
}

section#local h2 {
    position: absolute;
    top: -15px;
    left: 330px;
    font-size: 3em;
    color: white;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
}

section#local p {
    margin: 20px;
    text-align: justify;
    color: white;
    line-height: 25px;
    font-size: 1.2em;

    position: absolute;
    top: 40px;
    left: 320px;
    min-width: 350px;
    max-width: 850px;
    text-decoration: underline;
}

strong {
    color: var(--cor2);
}

b {
    color: var(--cor2);
    font-weight: normal;
}

/* ---------------------------------- CORPO DO SITE/cardápio ----------------------------------------------*/

/*----------prato 1---------------*/
h1.cardapio{
    color: var(--cor2);
    margin: 20px;
    font-weight: 400;
    font-size: 3em;

}
section.prato1 {
    position: relative;
}

section.prato1 img {
    width: 200px;
    margin-right: 20px;
    border-radius: 30px;
}

section.prato1 h2 {
    color: white;
    position: absolute;
    top: 30px;
    left: 220px;
    font-size: 2em;
}

section.prato1 p {
    margin: 20px;
    color: white;
    text-align: justify;
    font-size: 1.3em;
    line-height: 25px;

    position: absolute;
    top: 70px;
    left: 200px;
    max-width: 800px;
}

/*----------prato 2---------------*/

section.prato2 {
    position: relative;
}

section.prato2 img {
    width: 200px;
    margin-right: 20px;
    border-radius: 30px;
}

section.prato2 h2 {
     color: white;
    position: absolute;
    top: 30px;
    left: 220px;
    font-size: 2em;
}

section.prato2 p {
     margin: 20px;
    color: white;
    text-align: justify;
    font-size: 1.3em;
    line-height: 25px;

    position: absolute;
    top: 70px;
    left: 200px;
    max-width: 800px;
}

/*-------------prato 3------------*/

section.prato3 {
    position: relative;
}

section.prato3 img {
    width: 200px;
    margin-right: 20px;
    border-radius: 30px;
}

section.prato3 h2 {
    color: white;
    position: absolute;
    top: 30px;
    left: 220px;
    font-size: 2em;
}

section.prato3 p {
    margin: 20px;
    color: white;
    text-align: justify;
    font-size: 1.3em;
    line-height: 25px;

    position: absolute;
    top: 70px;
    left: 200px;
    max-width: 800px;
}

/* ---------------------------------- CORPO DO SITE/eventos----------------------------------------------*/

h1.eventos {
    color: var(--cor2);
    margin: 20px;
    font-size: 3em;
}

/*------------evento 1--------------*/

section#ev1 {
    position: relative;
}

section#ev1 h2 {
    color: var(--cor5);
    position: absolute;
    top: 50px;
    left: 240px;
}

section#ev1 img {
    width: 200px;
    margin: 20px;
}

section#ev1 p.parag1 {
    color: white;
    text-align: justify;
    position: absolute;
    top: 130px;
    left: 230px;
    margin: 15px;
    width: 400px;
}

section#ev1 p.parag2 {
    color: white;
    text-align: justify;
    position: absolute;
    top: 180px;
    left: 280px;
    margin: 15px;
}

/*------------evento 2--------------*/

section#ev2 {
    position: relative;
}

section#ev2 h2 {
    color: var(--cor5);
    position: absolute;
    top: 50px;
    left: 240px;
}

section#ev2 img {
    width: 200px;
    margin: 20px;
}

section#ev2 p.parag1 {
    color: white;
    text-align: justify;
    position: absolute;
    top: 130px;
    left: 230px;
    margin: 15px;
    width: 400px;
}

section#ev2 p.parag2 {
    color: white;
    text-align: justify;
    position: absolute;
    top: 180px;
    left: 280px;
    margin: 15px;
}
}